/* Global styles */
body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

/* Navbar styles */
.navbar {
    background-color: #fff;
}

.navbar-brand {
    color: #333;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    color: #333;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:focus .nav-link {
    background-color: rgba(255, 200, 0, 0.5);
    color: #333;
}

/* Image container styles */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

/* Footer styles */
footer {
    padding-top: 2%;
    background-color: rgb(208, 208, 208);
}

footer h5 {
    color: #333;
}

footer ul li a {
    color: #333;
}

footer ul li a:hover {
    text-decoration: none;
    color: rgba(255, 200, 0, 0.7);
}
